<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <handlers>
                <add name="Python FastCGI"
                     path="*"
                     verb="*"
                     modules="FastCgiModule"
                     scriptProcessor="C:\Program Files\Python36\python.exe|C:\Program Files\Python36\Lib\site-packages\wfastcgi"
                     resourceType="Unspecified"
                     requireAccess="Script"/>
            </handlers>
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="C:\Users\tahir\Documents\Menu\Menu" />
            <add key="DJANGO_SETTINGS_MODULE" value="Menu..settings" />
        </appSettings>
    </configuration>