{% extends 'base.html' %}
{% load static %}
{% block content %}

    <style>
        .nav-link.active {
            color: #e64758 !important;
        }
    </style>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded nav-tabs" role="tablist">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link inner_client" href="{% url 'organization_client' %}" role="tab" >Client
                        Details<span
                                class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link inner_invoice" href="#inner_client_charges" role="tab"
                       data-toggle="tab">Invoice</a>
                </li>

            </ul>
        </div>
    </nav>

    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade" id="inner_client_details">
        </div>

        <div role="tabpanel" class="tab-pane fade" id="inner_client_charges">
            {% include "organization/settings_organization_client_tab.html" with organizations_charge=organizations_charge %}
        </div>

    </div>

    <script>
        $(document).ready(function () {
            $('.inner_invoice').click();
        });
    </script>

{% endblock content %}