{% extends 'base.html' %}
{% load startswith %}
{% load static %}
{% block content %}
    {% load bootstrap3 %}
    <div class="row">

        <div class="col-lg-12">
            <form role="form" method="post" {% if add %}action="{% url 'organization_add' %}"{% endif %}>
                {% csrf_token %}
                <div class="login-form">
                    <h2 class="heading">Organization</h2>
                    {% bootstrap_form_errors form layout='inline' %}

                    {% for field in form %}
                        {% if field.name == 'org_id' or  field.name == 'active' or field.name == 'category' or field.name == 'description' %}
                            {% bootstrap_field field form_group_class='col-md-12 form-group label-floating' layout='inline' %}
                        {% endif %}
                    {% endfor %}

                    {% for field in form %}
                        {% if field.name|startswith:'mt' %}
                            {% if field.name == 'mt_city' or  field.name == 'mt_state' or field.name == 'mt_zip' or field.name == 'mt_country' %}
                            {% else %}
                                {% bootstrap_field field form_group_class='col-md-12 form-group label-floating' layout='inline' %}
                            {% endif %}
                        {% endif %}

                    {% endfor %}


                    <br/>

                    <div class="form-inline">
                        {% for field in form %}
                            {% if field.name == 'mt_city' or  field.name == 'mt_state' or field.name == 'mt_zip' or field.name == 'mt_country' %}
                                {% bootstrap_field field form_group_class='col-sm-3 label-floating' layout='inline' %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <br/>

                    <div class="col-md-12">
                        <button type="button" class="btn btn-success" id="copy">Copy MT information</button>
                    </div>
                    <br>

                    {% for field in form %}
                        {% if field.name|startswith:'st' %}
                            {% if field.name == 'st_city' or  field.name == 'st_state' or field.name == 'st_zip' or field.name == 'st_country' %}
                            {% else %}
                                {% bootstrap_field field form_group_class='col-md-12 form-group label-floating' layout='inline' %}
                            {% endif %}
                        {% endif %}

                    {% endfor %}


                    <br/>

                    <div class="form-inline">
                        {% for field in form %}
                            {% if field.name == 'st_city' or  field.name == 'st_state' or field.name == 'st_zip' or field.name == 'st_country' %}
                                {% bootstrap_field field form_group_class='col-sm-3 label-floating' layout='inline' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br/>
                    {% buttons %}
                        <button type="submit" class="btn btn-success">Submit <span
                                class="glyphicon glyphicon-log-in"></span></button>
                    {% endbuttons %}
                </div>
            </form>
        </div>

    </div>

    <script>
        $('#copy').click(function () {
            $('#id_st_address1').val($('#id_mt_address1')[0].value);
            $('#id_st_address2').val($('#id_mt_address2')[0].value);
            $('#id_st_address3').val($('#id_mt_address3')[0].value);
            $('#id_st_city').val($('#id_mt_city')[0].value);
            $('#id_st_state').val($('#id_mt_state')[0].value);
            $('#id_st_zip').val($('#id_mt_zip')[0].value);
            $('#id_st_country').val($('#id_mt_country')[0].value);
        });

    </script>


{% endblock content %}