<div class="row">
    <div class="col-lg-12">
        <a href="{% url 'organization_carrier_add' %}" class="btn btn-default"> <i
                class="fa fa-user-plus" style="font-size: x-large;color: black;"></i></a>
    </div>

    <div class="col-lg-12">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Client</th>
                <th>Carrier Type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for org in organizations_carrier %}
                <tr>
                    <td>{{ org.id }}</td>
                    <td>{{ org.organization }}</td>
                    <td>{{ org.get_carrier_type_display }}</td>
                    <td>
                        <a href="{% url 'organization_carrier_edit' org.id %}"><i class="fa fa-edit"></i></a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>

</div>

