{% extends 'base.html' %}
{% block content %}
       <style>
    .nav-link.active {
        color: #e64758 !important;
    }
    </style>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded nav-tabs" role="tablist">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link inner_item" href="{% url 'items' %}" role="tab" >Item<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link inner_details" href="# details" role="tab" data-toggle="tab">Item Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link inner_charges" href="#charges" role="tab" data-toggle="tab">Charges</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="item">kanjra</div>
        <div role="tabpanel" class="tab-pane fade" id="details">bbb</div>
        <div role="tabpanel" class="tab-pane fade" id="charges">ccc</div>
    </div>



        <script>
        $(document).ready(function () {
            if ('{{ tab }}' == 'item') {
                $('.inner_item').click();
            }
            else if ('{{ tab }}' == 'item_details') {
                $('.inner_details').click();
            }
        });
    </script>




{% endblock content %}