{% extends 'base.html' %}
{% load static %}
{% load endswith %}
{% load startswith %}
{% block content %}
    {% load bootstrap3 %}
    <style>

        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
        }

    </style>

    <h2 class="heading">Item Details</h2>
    <div class="row">
        <div class="col-lg-2">
            <label><b>Client</b></label></div>
        <div class="col-lg-10">:&nbsp;&nbsp;&nbsp;<label>{{ item.organization }}</label></div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <label><b>Item</b></label></div>
        <div class="col-lg-10">:&nbsp;&nbsp;&nbsp;<label>{{ item.item_code }}</label></div>
    </div>


    <div class="row">
        <div class="col-lg-2">
            <label><b>Description</b></label></div>
        <div class="col-lg-10">:&nbsp;&nbsp;&nbsp;<label>{{ item.description }}</label></div>
    </div>


    <div class="row">

        <div class="col-lg-12">

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <form role="form" method="post">
                {% csrf_token %}
                <div class="login-form">

                    <div class="row">
                        <div class="col-md-12">
                            {% for field in form %}
                                {% if field.name|endswith:'_eng' or field.name|endswith:'_metric' %}
                                {% else %}
                                    {% bootstrap_field field form_group_class='col-md-12 form-group label-floating' layout='inline' %}
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 center">
                            <input type="checkbox" name="english" id="english"/>&nbsp;<label>English</label>
                        </div>
                        <div class="col-md-4 center">
                            <input type="checkbox" name="metric" id="metric"/>&nbsp;<label>Metric</label>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {% for field in form %}
                                {% if field.name|endswith:'_eng' %}
                                    <div class="col-md-12 form-group label-floating"
                                         style="display:flex;align-items: center;height: 40px;"><label
                                            class="control-label">
                                        {% if field.name|startswith:'weight' %}
                                            Weight
                                        {% elif field.name|startswith:'height' %}
                                            Height
                                        {% elif field.name|startswith:'length' %}
                                            Length
                                        {% elif field.name|startswith:'width' %}
                                            Width
                                        {% endif %}
                                    </label>
                                    </div>
                                {% endif %}

                            {% endfor %}
                        </div>


                        <div class="col-md-4">
                            {% for field in form %}
                                {% if field.name|endswith:'_eng' %}
                                    {% bootstrap_field field form_group_class='col-md-12 form-group label-floating english' layout='inline' %}
                                {% endif %}

                            {% endfor %}
                        </div>


                        <div class="col-md-4">
                            {% for field in form %}
                                {% if field.name|endswith:'_metric' %}
                                    {% bootstrap_field field form_group_class='col-md-12 form-group label-floating metric' layout='inline' %}
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>


                    {% buttons %}
                        <button type="submit" class="btn btn-success">Submit <span
                                class="glyphicon glyphicon-log-in"></span></button>
                    {% endbuttons %}
                </div>
            </form>
        </div>

    </div>

    <script>

        $('#metric').click(function () {

            if (this.checked) {
                $(".english :input").attr("disabled", true);
                if ($('#english')[0].checked) {
                    $('#english').click();
                }
            } else {
                $(".english :input").attr("disabled", false);
            }
        });


        $('#english').click(function () {
            if (this.checked) {
                $(".metric :input").attr("disabled", true);
                if ($('#metric')[0].checked) {
                    $('#metric').click();
                }
            } else {
                $(".metric :input").attr("disabled", false);
            }
        });

        $('#id_pack').focusout(function () {
            if ($("#id_pack_type option:selected").text() == 'EACH') {
                $('#id_pack').val('1');
            }
        });


        $('#id_pack_type').focusout(function () {
            if ($("#id_pack_type option:selected").text() == 'EACH') {
                $('#id_pack').val('1');
            }
        });

    </script>

{% endblock content %}