{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load bootstrap3 %}
    <div class="row">

        <div class="col-lg-12">
            <form role="form" method="post" >
                {% csrf_token %}
                <div class="login-form">
                    <h2 class="heading">Item UOM</h2>
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-success">Submit <span
                                class="glyphicon glyphicon-log-in"></span></button>
                    {% endbuttons %}
                </div>
            </form>
        </div>

    </div>

{% endblock content %}