{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POSO</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">

</head>
<body>

<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">


    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'index' %}">POSO</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <div class="my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="#">{{ user.first_name }} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item {% if tab != 'signup' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'login' %}">SignIn</a>
                    </li>
                    <li class="nav-item {% if tab == 'signup' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

{% if user.is_authenticated %}
    <div class="container-fluid">
        <div class="row d-flex d-md-block flex-nowrap wrapper">
            <div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
                <div class="list-group border-0 card text-center text-md-left">


                    <a href="{% url 'home' %}"  {% if tab == 'home' %}
                       style="background-color: darkgray; color: black;"{% endif %}
                       class="list-group-item d-inline-block collapsed active-link" data-parent="#sidebar"><i
                            class="fa fa-film"></i> <span class="d-none d-md-inline">Home</span></a>


                    <a href="{% url 'orders' %}"  {% if tab == 'receiving' %}
                       style="background-color: darkgray; color: black;"{% endif %}
                       class="list-group-item d-inline-block collapsed active-link" data-parent="#sidebar"><i
                            class="fa fa-film"></i> <span class="d-none d-md-inline">Receiving</span></a>
                    <a href="{% url 'shipping_orders' %}" {% if tab == 'shipping' %}
                       style="background-color: darkgray; color: black;"{% endif %}
                       class="list-group-item d-inline-block collapsed"
                       data-parent="#sidebar"><i
                            class="fa fa-heart"></i> <span class="d-none d-md-inline">Shipping</span></a>
                    <a href="{% url 'mobile' %}" {% if tab == 'mobile' %}
                       style="background-color: darkgray; color: black;"{% endif %}
                       class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
                            class="fa fa-list"></i> <span class="d-none d-md-inline">Mobile</span></a>
                    <a href="{% url 'inventory' %}"  {% if tab == 'inventory' %}
                       style="background-color: darkgray; color: black;"{% endif %}
                       class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
                            class="fa fa-clock-o"></i> <span class="d-none d-md-inline">Inventory</span></a>
                    <a href="{% url 'items' %}" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"
                            {% if tab == 'item' %} style="background-color: darkgray; color: black;"{% endif %}><i
                            class="fa fa-th"></i> <span class="d-none d-md-inline">Items</span></a>
                    <a href="{% url 'reports' %}" {% if tab == 'reports' %}
                       style="background-color: darkgray; color: black;"{% endif %}
                       class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
                            class="fa fa-gear"></i> <span class="d-none d-md-inline">Reports</span></a>

{#                    <a href="{% url 'organization_settings' %}" {% if tab == 'organization_settings' %}#}
{#                       style="background-color: darkgray; color: black;"{% endif %}#}
{#                       class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i#}
{#                            class="fa fa-gear"></i> <span class="d-none d-md-inline">Organization</span></a>#}


                    {#                    <a href="{% url 'settings' %}" class="list-group-item d-inline-block collapsed"#}
                    {#                       data-parent="#sidebar" {% if tab == 'settings' %}#}
                    {#                       style="background-color: darkgray; color: black;"{% endif %}><i#}
                    {#                            class="fa fa-calendar"></i> <span class="d-none d-md-inline">Settings</span></a>#}




                    <a href="#organization" class=" organization list-group-item d-inline-block collapsed"
                       data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i
                            class="fa fa-calendar"></i> <span class="d-none d-md-inline">Organization</span></a>

                    <div class="collapse" id="organization">
                        <a href="{% url 'organization_client' %}" {% if tab == 'org_client' %}
                           style="padding-left: 50px;background-color: darkgray; color: black;"{% endif %}
                           class="list-group-item" data-parent="#menu3" style="padding-left: 50px;">Client</a>
                        <a href="{% url 'organization_customer' %}" {% if tab == 'org_customer' %}
                           style="padding-left: 50px;background-color: darkgray; color: black;"{% endif %}
                           class="list-group-item" data-parent="#menu3" style="padding-left: 50px;">Customer</a>
                        <a href="{% url 'organization_carrier' %}" {% if tab == 'org_carrier' %}
                           style="padding-left: 50px;background-color: darkgray; color: black;"{% endif %}
                           class="list-group-item" data-parent="#menu3" style="padding-left: 50px;">Carrier</a>
                    </div>



                    <a href="#settings" class=" settings list-group-item d-inline-block collapsed"
                       data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i
                            class="fa fa-calendar"></i> <span class="d-none d-md-inline">Settings</span></a>

                    <div class="collapse" id="settings">
                        <a href="{% url 'security_settings' %}" {% if tab == 'security_settings' %}
                           style="padding-left: 50px;background-color: darkgray; color: black;"{% endif %}
                           class="list-group-item" data-parent="#menu3" style="padding-left: 50px;">Security</a>

                    </div>


                </div>
            </div>
        </div>
    </div>


{% endif %}
<script>
    $(document).ready(function () {
        if (['security_settings', 'client_settings'].indexOf('{{ tab }}') > -1) {
            console.log("ready!");
            $('.settings').click()
        }

        if (['org_client', 'org_customer','org_carrier'].indexOf('{{ tab }}') > -1) {
            console.log("ready!");
            $('.organization').click()
        }

    });
</script>
{% block content %}{% endblock content %}
</body>
</html>