{% extends 'base.html' %}
{% load static %}
{% block content %}

        <style>
    .nav-link.active {
        color: #e64758 !important;
    }
    </style>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded nav-tabs" role="tablist">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" >
                    <a class="nav-link active" href="#inner_organization" role="tab" data-toggle="tab">Organization<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#inner_client_details" role="tab" data-toggle="tab">Client Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#inner_customer_details" role="tab" data-toggle="tab">Customer Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#inner_carrier_details" role="tab" data-toggle="tab">Carrier Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#inner_vendor_details" role="tab" data-toggle="tab">Vendor Details</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="inner_organization">
            Organization Here

        </div>
        <div role="tabpanel" class="tab-pane fade" id="inner_client_details">
            Client Details Here

        </div>
        <div role="tabpanel" class="tab-pane fade" id="inner_customer_details">
            Customer Details Here

        </div>
        <div role="tabpanel" class="tab-pane fade" id="inner_carrier_details">
            Carrier Details Here

        </div>

        <div role="tabpanel" class="tab-pane fade" id="inner_vendor_details">
            Vendor Details Here

        </div>
    </div>

{% endblock content %}