{% extends 'base.html' %}
{% block content %}
    <style>
    .nav-link.active {
        color: #e64758 !important;
    }
    </style>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded nav-tabs" role="tablist">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" >
                    <a class="nav-link active" href="#receiving" role="tab" data-toggle="tab">Receiving<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#shipping" role="tab" data-toggle="tab">Shipping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#inventory" role="tab" data-toggle="tab">Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#accounting" role="tab" data-toggle="tab">Accounting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#custom" role="tab" data-toggle="tab">Cutom</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="recieving">
            Receiving Reports Here

        </div>
        <div role="tabpanel" class="tab-pane fade" id="shipping">
            Shipping Reports Here

        </div>
        <div role="tabpanel" class="tab-pane fade" id="inventory">
            Inventory Here

        </div>
        <div role="tabpanel" class="tab-pane fade" id="accounting">
            Accounting Here

        </div>

        <div role="tabpanel" class="tab-pane fade" id="custom">
            Custom Here

        </div>
    </div>
{% endblock content %}