{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load bootstrap3 %}

    <style>
        .nav-link.active {
            color: #e64758 !important;
        }
    </style>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded nav-tabs" role="tablist">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#inner_security" role="tab" data-toggle="tab">Security<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link inner_user" href="#inner_user" role="tab" data-toggle="tab">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link inner_group" href="#inner_user_group" role="tab" data-toggle="tab">User Group</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="inner_security">
            Security will come here

        </div>
        <div role="tabpanel" class="tab-pane fade" id="inner_user">
            <div class="row">
                <a href="{% url 'add_user' %}" class="btn btn-success pull-right"> <i class="fa fa-plus"></i></a>
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        {% for user in users %}
                            <div class="modal fade" id="usermodal_{{ user.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form role="form" method="post" action="{% url 'edit_user' %}">
                                                {% csrf_token %}
                                                <div class="login-form">
                                                    <h2 class="heading">Edit</h2>
                                                    {% bootstrap_form user.form %}
                                                    {% buttons %}
                                                        <button type="submit" class="btn btn-success">Submit <span
                                                                class="glyphicon glyphicon-log-in"></span></button>
                                                        <input type="hidden" name="id" value="{{ user.id }}"/>
                                                    {% endbuttons %}
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>


                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Group</th>
                            <th>Username</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <th scope="row">{{ user.id }}</th>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td> {% if user.usergroup_set.all.0.user_type %}
                                    <span class="badge badge-pill badge-success"> {{ user.usergroup_set.all.0.user_type|title }}</span> {% endif %}
                                </td>
                                <td>{{ user.username }}</td>
                                <td>


                                    <div class="modal fade" id="userformmodal_{{ user.id }}" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">

                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <label>Are you sure? <br> Type Yes or No</label>
                                                    <div class="form-group row">
                                                        <div class="col-10">
                                                            <input id="user_input_{{ user.id }}" class="form-control"
                                                                   type="text"
                                                                   id="example-text-input">
                                                        </div>
                                                    </div>


                                                    <button type="submit" onclick="confirm_delete('{{ user.id }}')"
                                                            id='formbutton_{{ user.id }}' class="btn">Ok
                                                    </button>

                                                    <form id='user_delete_form_{{ user.id }}' method="post"
                                                          action="{% url 'remove_user' %}">
                                                        {% csrf_token %}
                                                        <button type="submit" id='formbutton_{{ user.id }}' class="btn"
                                                                hidden>
                                                            <i class="fa fa-times"
                                                               style="color: red;"></i>
                                                        </button>
                                                        <input type="hidden" name="id" value="{{ user.id }}"/>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn" data-toggle="modal"
                                            data-target="#userformmodal_{{ user.id }}">
                                        <i class="fa fa-times" style="color: red;"></i>
                                    </button>

                                </td>
                                <td>
                                    <button type="button" class="btn" data-toggle="modal"
                                            data-target="#usermodal_{{ user.id }}">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="inner_user_group">
            <div class="row">
                <div class="col-lg-12">
                    {% for form in form_array %}
                        <div class="modal fade" id="exampleModal_{{ form.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit Permissions</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form role="form" method="post">
                                            {% csrf_token %}
                                            <div class="login-form">
                                                <h2 class="heading">Permission</h2>
                                                {% bootstrap_form form.form %}
                                                {% buttons %}
                                                    <button type="submit" class="btn btn-success">Submit <span
                                                            class="glyphicon glyphicon-log-in"></span></button>
                                                    <input type="hidden" name="id" value="{{ form.id }}"/>
                                                {% endbuttons %}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>

                <div class="col-lg-12">
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Group</th>
                            <th>Receiving</th>
                            <th>Shipping</th>
                            <th>Mobile</th>
                            <th>Inventory</th>
                            <th>Item</th>
                            <th>Reports</th>
                            <th>Organization</th>
                            <th>Security</th>
                            <th>Client</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for group in groups %}
                            <tr>
                                <td>{{ group.id }}</td>
                                <td scope="row">
                                    {{ group.user_group.user_type }}
                                </td>
                                <td>
                                    {% include "settings_security_usergroup_style.html" with tab_value=group.receiving %}
                                </td>
                                <td>
                                    {% include "settings_security_usergroup_style.html" with tab_value=group.shipping %}
                                </td>
                                <td>
                                    {% include "settings_security_usergroup_style.html" with tab_value=group.mobile %}
                                </td>
                                <td>
                                    {% include "settings_security_usergroup_style.html" with tab_value=group.inventory %}

                                </td>
                                <td>
                                    {% include "settings_security_usergroup_style.html" with tab_value=group.items %}
                                </td>
                                <td>
                                    {% include "settings_security_usergroup_style.html" with tab_value=group.reports %}
                                </td>
                                <td>
                                    {% include "settings_security_usergroup_style.html" with tab_value=group.organization %}
                                </td>
                                <td>
                                    {% include "settings_security_usergroup_style.html" with tab_value=group.security %}
                                </td>

                                <td>
                                    {% include "settings_security_usergroup_style.html" with tab_value=group.client %}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#exampleModal_{{ group.id }}">
                                        Edit
                                    </button>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>

    <script>


        $(document).ready(function () {
            if ('{{ next_tab }}' == 'user') {
                $('.inner_user').click();
            } else if ('{{ next_tab }}' == 'group') {
                $('.inner_group').click();
            }

        });

        function confirm_delete(val) {
            var user_input_name = '#user_input_' + val;
            if ($(user_input_name).val().toLowerCase() == 'yes') {
                var form_name = '#user_delete_form_' + val;
                $(form_name).submit()
            }
            else {
                $(".close").click();
                $(user_input_name).val('')
            }
        }

    </script>

{% endblock content %}