{% extends 'base.html' %}
{% load static %}
{% block content %}

    <style>
        .nav-link.active {
            color: #e64758 !important;
        }
    </style>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded nav-tabs" role="tablist">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link inner_org" href="#inner_organization" role="tab"
                       data-toggle="tab">Organization<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link inner_client" href="#inner_client_details" role="tab" data-toggle="tab">Client Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#inner_customer_details" role="tab" data-toggle="tab">Customer Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link inner_carrier" href="#inner_carrier_details" role="tab" data-toggle="tab">Carrier Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#inner_vendor_details" role="tab" data-toggle="tab">Vendor Details</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="inner_organization">

            {% include "settings_organization_tab.html" with organizations=organizations %}

        </div>
        <div role="tabpanel" class="tab-pane fade" id="inner_client_details">
            {% include "settings_organization_client_tab.html" with organizations_charge=organizations_charge %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="inner_customer_details">
            {% include "settings_organization_tab.html" with organizations=organizations filter=2 %}

        </div>
        <div role="tabpanel" class="tab-pane fade" id="inner_carrier_details">
            {% include "settings_organization_carrier_tab.html" with organizations_carrier=organizations_carrier %}

        </div>

        <div role="tabpanel" class="tab-pane fade" id="inner_vendor_details">
            Vendor Details Here

        </div>
    </div>

    <script>
        $(document).ready(function () {
            if ('{{ next_tab }}' == 'org') {
                $('.inner_org').click();
            } else if ('{{ next_tab }}' == 'client') {
                $('.inner_client').click();
            }
            else if ('{{ next_tab }}' == 'carrier') {
                $('.inner_carrier').click();
            }


        });
    </script>

{% endblock content %}