{% load static %}
<link rel="stylesheet" href="{% static 'css/searchbar.css' %}">
<div class="row">


<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h4>Search</h4>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
        <form class='search-form' method="post">
            {% csrf_token %}
          <input class='form-control' placeholder='Description/Name' name="search" {% if search %}value="{{ search }}"{% endif %}>
          <button class='btn btn-link search-btn'>
            <i class='glyphicon glyphicon-search'></i>
          </button>
        </form>
    </div>
  </div>
</div>

{% if filter != False %}
    <div class="col-lg-12">
    {% if filter == 1 %}
        <a href="{% url 'organization_add' %}?org_type=client" class="btn btn-default"> <i
                class="fa fa-user-plus" style="font-size: x-large;color: black;"></i></a>
    {% elif filter == 2 %}
        <a href="{% url 'organization_add' %}?org_type=customer" class="btn btn-default"> <i
                class="fa fa-user-plus" style="font-size: x-large;color: black;"></i></a>
    {% elif filter == 3 %}
        <a href="{% url 'organization_add' %}?org_type=carrier" class="btn btn-default"> <i
                class="fa fa-user-plus" style="font-size: x-large;color: black;"></i></a>
    {% else %}
        <a href="{% url 'organization_add' %}" class="btn btn-default"> <i
                class="fa fa-user-plus" style="font-size: x-large;color: black;"></i></a>
    {% endif %}


    </div>
{% endif %}


    <div class="col-lg-12">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Org_id</th>
                <th>Category</th>
                <th>Description</th>
                <th>City</th>
                <th>State</th>
                <th>Active</th>
                {% if filter == 1 %}
                    <th>Invoice</th>
                {% endif %}
                {% if filter == 3 %}
                    <th>Details</th>
                {% endif %}
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for org in organizations %}
                {% if not filter or filter == org.category %}
                    <tr>
                        <td>{{ org.id }}</td>
                        <td>{{ org.org_id }}</td>
                        <td>{{ org.get_category_display }}</td>
                        <td>{{ org.description }}</td>
                        <td>{{ org.mt_city }}</td>
                        <td>{{ org.mt_state }}</td>
                        <td> {% if org.active %}  <i class="fa fa-check" style="color: green"></i>
                        {% else %} <i class="fa fa-times" style="color: red"></i>{% endif %}</td>
                        {% if filter == 1 %}
                            <th><a href="{% url 'organization_client_invoices' %}?org_id={{ org.id }}"> <i class="fa fa-check" style="color: green" onclick="customerInvoices()"></i></a></th>
                        {% endif %}
                        {% if filter == 3 %}
                            <th><i class="fa fa-check" style="color: green" onclick="carrierCharges()"></i></th>
                        {% endif %}
                        <td>
                            <a href="{% url 'organization_edit' org.id %}"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                {% endif %}

            {% endfor %}
            </tbody>
        </table>


    </div>

</div>

<script>
function carrierCharges(){
    $('.inner_carrier_detail').click();
}
function customerInvoices(){
    $('.inner_invoice').click();
}


</script>