{% extends 'base.html' %}
{% block content %}
    <style>
    .nav-link.active {
        color: #e64758 !important;
    }
    </style>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded nav-tabs" role="tablist">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" >
                    <a class="nav-link active" href="#order" role="tab" data-toggle="tab">Order<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#details" role="tab" data-toggle="tab">Order Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ship" role="tab" data-toggle="tab">Ship Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#charges" role="tab" data-toggle="tab">Charges</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="order">
            We Will Show Orders Here.

        </div>
        <div role="tabpanel" class="tab-pane fade" id="details">
            We are going to show order details here.

        </div>
        <div role="tabpanel" class="tab-pane fade" id="ship">
            We will show ship details here.

        </div>
        <div role="tabpanel" class="tab-pane fade" id="charges">
            We will show charges here.

        </div>
    </div>
{% endblock content %}